:root
{
	/* font-face */
	--inp-ff: var(--ff-0);
	--btn-ff: var(--inp-ff);
	/* font-size */
	--inp-fz: 1rem;
	--btn-fz: var(--inp-fz);
	/* font-weight */
	--inp-fw: normal;
	--btn-fw: var(--inp-fw);

	/* width */
	--inp-w: 15rem;
	--btn-w: auto;

	/* background */
	--inp-bg: 255,255,255;
	--btn-bg: var(--c-1);
	/* color */
	--inp-c: 0,0,0;
	--btn-c: var(--c-1-i);

	/* padding */
	--inp-pv: .5rem;
	--inp-ph: 1rem;
	--btn-pv: var(--inp-pv);
	--btn-ph: var(--inp-ph);

	/* border-width */
	--inp-bdw: 1px;
	--btn-bdw: 0;
	/* border-color */
	--inp-bdc: var(--inp-c);
	--btn-bdc: var(--btn-c);

	/* line-height */
	--inp-lh: 1;
	--btn-lh: var(--inp-lh);
}


input[type=text],
input[type=number],
input[type=password],
input[type=tel],
input[type=email],
input[type=submit],
input[type=time],
input[type=date],
input[type=color],
select
{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}


::-webkit-input-placeholder
{
	text-overflow: ellipsis;
	color: rgba(var(--inp-c),.6);
}
::-moz-placeholder
{
	text-overflow: ellipsis;
	color: rgba(var(--inp-c),.6);
} /* Firefox 19+ */
:-moz-placeholder
{
	text-overflow: ellipsis;
	color: rgba(var(--inp-c),.6);
} /* Firefox 18- */
:-ms-input-placeholder
{
	text-overflow: ellipsis;
	color: rgba(var(--inp-c),.6);
}


input,
textarea,
select,
button
{
	display: inline-block;
	line-height: 1;
	box-sizing: border-box;
	border-style: solid;
}
input,
input + label
{
	vertical-align: middle;
}


input,
textarea,
select
{
	font-family: var(--inp-ff);
	font-size: var(--inp-fz);
	font-weight: var(--inp-fw);
	padding: var(--inp-pv) var(--inp-ph);
	background-color: rgb(var(--inp-bg));
	color: rgb(var(--inp-c));
	border-width: var(--inp-bdw);
	border-color: rgb(var(--inp-bdc));
}
button,
.btn
{
	display: inline-block;
	font-family: var(--btn-ff);
	font-size: var(--btn-fz);
	font-weight: var(--btn-fw);
	padding: var(--btn-pv) var(--btn-ph);
	background-color: rgb(var(--btn-bg));
	color: rgb(var(--btn-c));
	border-width: var(--btn-bdw);
	border-color: rgb(var(--btn-bdc));
	text-decoration: none;
	cursor: pointer;
	line-height: 1;
}


input/*[type=text],
input[type=number],
input[type=password],
input[type=tel],
input[type=email],
input[type=time],
input[type=date]*/,
select
{
	width: var(--inp-w);
}

textarea
{
	width: 100%;
}