@font-face{
font-family: 'OpenSans';
src: url('../../font/OpenSans/OpenSans-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: 'OpenSans';
src: url('../../font/OpenSans/OpenSans-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}