:root
{
	--part: 4rem;
	--part-min: calc(var(--part) / 2);
	--part-big: calc(var(--part) * 2);
	--limit: 71rem;
	--p-limit: 2rem;
}




section::before,
section::after,
.clearfix
{
	content: "";
	display: table;
	clear: both;
}

.limit
{
	box-sizing: border-box;
	width: 100%;
	max-width: var(--limit);
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--p-limit);
	padding-right: var(--p-limit);
}

.part
{
	margin-top: var(--part);
	margin-bottom: var(--part);
}

.part-min
{
	margin-top: var(--part-min);
	margin-bottom: var(--part-min);
}

.part-big
{
	margin-top: var(--part-big);
	margin-bottom: var(--part-big);
}


.bdw-0 { border-width: 0; }

.bdrs-0 { border-radius: 0; }
.bdrs-05 { border-radius: 0.5rem; }
.bdrs-1 { border-radius: 1rem; }
.bdrs-2 { border-radius: 2rem; }
.bdrs-50p { border-radius: 50%; }


.bsh-1 {
	-webkit-box-shadow: .5rem .5rem 1rem 0px rgba(var(--c-b),0.25);
	   -moz-box-shadow: .5rem .5rem 1rem 0px rgba(var(--c-b),0.25);
	        box-shadow: .5rem .5rem 1rem 0px rgba(var(--c-b),0.25);
}
.bsh-05 {
	-webkit-box-shadow: .25rem .25rem .5rem 0px rgba(var(--c-b),0.25);
	   -moz-box-shadow: .25rem .25rem .5rem 0px rgba(var(--c-b),0.25);
	        box-shadow: .25rem .25rem .5rem 0px rgba(var(--c-b),0.25);
}